.logo{
  display: flex;
  position: fixed;
  justify-content: center;
  width: 20%;
  margin: auto;
  background-color: #ffffff;
  padding-left: 40%;
  padding-right: 50%;
  padding-bottom: 5px;
  padding-top: 5px;
  top:0px;
}

.poster{
  width: 100%;
  margin-top: 30px;
}

/*home 이미지 전체*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.num-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.num1 {
  width: 50%; /* 각 요소의 너비를 50%로 설정하여 두 개씩 배치 */
}

.num-img {
  width: 100%;
}


.stb{
    /* 스크롤 버튼 스타일 */
    #scrollBtn {
        display: none; /* 기본적으로 숨김 처리 */
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #ffffff;
        color: rgb(54, 54, 54);
        cursor: pointer;
        padding: 15px;
        border-radius: 50px;
    }
    
    #scrollBtn:hover {
        background-color: #777;
    }

}

.menu {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
}

.menubutton{
  width: 25px;
}

.dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.8); /* 배경 색상을 어둡게 설정 */
  animation: slideIn 0.3s forwards; /* 슬라이드 애니메이션 추가 */
}

@keyframes slideIn {
  from {
    transform: translateX(100%); /* 시작 위치 설정 */
  }
  to {
    transform: translateX(-50%); /* 최종 위치 설정 */
  }
}


/*드롭다운 스타일*/
.dropdown-content a {
    display: block;
  }

.menu-list{ 
    text-decoration: none;
    margin : 30px;
    font-size: 20px;
}

/*드롭다운 텍스트*/
.show {
    display: block;
    width: 370px;
    height: 1000px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transform: translateX(-50%);
    font-size: 20px;
    padding-left: 10px;
}


/*info*/

/* 달력 */
.slider-container {
  width: 100%;
  margin-top: 60px;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 1400%; /* 이미지 개수에 따라 조정 */
  transition: transform 0.5s ease;
}

.slider img {
  width: 7.1429%; /* 이미지 개수에 따라 조정 */
}

  
/* 인디케이터 */
.indicator-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .indicator-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    margin: 0 5px;
    cursor: pointer;
  }
  
  .indicator-dot.active {
    background-color: rgb(13, 15, 116);
  }
  
  .gif{
    position: fixed;
    margin-top: 50px;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -45%);
  }

  /*굿즈*/
  .info3{
    width: 100%;
    margin-top: 30px;
  }
